.Content {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
  }
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.content-row {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;    
}
 @media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;    
}  
display: flex;
flex-direction: column;
align-items: center;
}

.content-col1 {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 308px;
height: 192px;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 591px;
height: 162px;    
}  
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 591px;
height: 162px;  
}

.content-h2 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 225px;
height: 62px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 62px;
letter-spacing: 0.2px;
color: #FFFFFF;   
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 225px;
height: 62px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 62px;
letter-spacing: 0.2px;
color: #FFFFFF;    
}  
width: 225px;
height: 62px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 62px;
letter-spacing: 0.2px;
color: #FFFFFF;  
}

.content-p {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 288px;
height: 90px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 571px;
height: 60px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;      
}  
width: 571px;
height: 60px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;  
}

.content-col2{
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 33px;
width: 389px;
height: 1183.96px;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 33px;
width: 985px;
height: 624.52px;    
}
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 33px;
width: 985px;
height: 624.52px;
}

.content-col2-card {
@media screen and (min-width: 320px) and (max-width: 480px) {
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 0px;
gap: 57px;
width: 348px;
height: 572.96px;
background: #FFFFFF;
border: 1px solid #D3D3D3;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
border-radius: 10px;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}  
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 0px;
gap: 57px;
width: 476px;
height: 624.52px;
background: #FFFFFF;
border: 1px solid #D3D3D3;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
border-radius: 10px;  
}

.content-card-item1 {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;
width: 288px;
height: 152px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;
width: 288px;
height: 152px; 
margin-bottom: 51px;
}  
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;
width: 288px;
height: 152px; 
margin-bottom: 51px;
}

.content-item1-h3 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 50px;
height: 30px;
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.1px;
color: #000000;     
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 50px;
height: 30px;
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.1px;
color: #000000;     
}  
width: 50px;
height: 30px;
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.1px;
color: #000000;  
}

.content-item1-p {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 268px;
height: 72px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #5C5C5C;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 268px;
height: 72px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #5C5C5C;
}  
width: 268px;
height: 72px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #5C5C5C;  
}

.content-item1-btn {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
justify-content: center;
align-items: center;
padding: 20px 36px;
width: 157px;
height: 52px;
background: #4452FE;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
justify-content: center;
align-items: center;
padding: 20px 36px;
width: 157px;
height: 52px;
background: #4452FE;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;    
}  
display: flex;
justify-content: center;
align-items: center;
padding: 20px 36px;
width: 157px;
height: 52px;
background: #4452FE;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.content-card-image1 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 297.03px;
height: 174.96px;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 405.12px;
height: 226.52px;     
}  
width: 405.12px;
height: 226.52px;  
}


.content-card-item2 {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;
width: 288px;
height: 152px;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;
width: 288px;
height: 152px;    
}  
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;
width: 288px;
height: 152px;  
}

.content-item2-h3 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 202px;
height: 30px;
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.1px;
color: #000000;     
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 202px;
height: 30px;
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.1px;
color: #000000;     
} 
width: 202px;
height: 30px;
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.1px;
color: #000000; 
}


.content-item2-btn {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
justify-content: center;
align-items: center;
padding: 20px 36px;
width: 190px;
height: 52px;
background: #4452FE;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
justify-content: center;
align-items: center;
padding: 20px 36px;
width: 190px;
height: 52px;
background: #4452FE;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;    
}  
display: flex;
justify-content: center;
align-items: center;
padding: 20px 36px;
width: 190px;
height: 52px;
background: #4452FE;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.content-card-image2 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 280px;
height: 204px;
filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
border-radius: 14px;   
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 379px;
height: 276px;
filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
border-radius: 14px;     
} 
width: 379px;
height: 276px;
filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
border-radius: 14px;  
}





