.Partner {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 100px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
padding-bottom: 100px;
}
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 100px;
}

.partner-row {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
}
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.partner-col1{
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 349px;
height: 192px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 591px;
height: 162px;  
}
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 591px;
height: 162px;
}

.partner-h2 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 203px;
height: 62px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 62px;
letter-spacing: 0.2px;
color: #FFFFFF;    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 203px;
height: 62px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 62px;
letter-spacing: 0.2px;
color: #FFFFFF;  
}
width: 203px;
height: 62px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 62px;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.partner-p {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 329px;
height: 90px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;  
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 571px;
height: 60px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
}
width: 571px;
height: 60px;
font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.partner-col2 {
@media screen and (min-width: 320px) and (max-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 50px;
width: 286px;
height: 171.55px; 
margin-top: 25px;
margin-bottom: 30px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 74px;
width: 831.97px;
height: 70.55px;  
margin-top: 50px;
margin-bottom: 60px;
}
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 74px;
width: 831.97px;
height: 70.55px;
margin-top: 50px;
margin-bottom: 60px;
}

.partner-logo1 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 60px;
height: 60px;   
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 60px;
height: 60px;  
}
width: 60px;
height: 60px;
}

.partner-logo2 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 60px;
height: 60.7px;  
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 60px;
height: 60.7px; 
}
width: 60px;
height: 60.7px;
}

.partner-logo3 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 60px;
height: 70.55px;  
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 60px;
height: 70.55px;  
}
width: 60px;
height: 70.55px;
}

.partner-logo4 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 56px;
height: 46px;  
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 72.11px;
height: 60px;  
}
width: 72.11px;
height: 60px;
}

.partner-logo5 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 47px;
height: 51px;  
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 60px;
height: 64.69px;  
}
width: 60px;
height: 64.69px;
}

.partner-logo6 {
@media screen and (min-width: 320px) and (max-width: 480px) {
width: 47px;
height: 51px;  
}
@media screen and (min-width: 481px) and (max-width: 768px) {
width: 149.85px;
height: 60px;         
}
width: 149.85px;
height: 60px;
}

.partner-btn{
@media screen and (min-width: 320px) and (max-width: 480px) {
box-sizing: border-box;
background: #181818;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 30px;
width: 176px;
height: 52px;
border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;  
margin-top: 400px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
box-sizing: border-box;
background: #181818;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 30px;
width: 176px;
height: 52px;
border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;  
}
box-sizing: border-box;
background: #181818;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 30px;
width: 176px;
height: 52px;
border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.2px;
color: #FFFFFF;

}






